<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
    Name="PKr-Installer" 
    Manufacturer="NemuCorp"
    Version="0.0.6.9"
    UpgradeCode="D5820AF5-364F-48E3-9E5A-C13D98AA0ABC"
    InstallerVersion="500" 
    Compressed="yes" >
    
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="PKr" />
    </StandardDirectory>
    
    <!-- Custom Actions for Environment Variable and Scheduled Task -->
    <CustomAction Id="AddToPath" 
                  Directory="INSTALLFOLDER" 
                  Execute="deferred" 
                  Impersonate="no" 
                  Return="check"
                  ExeCommand='[SystemFolder]cmd.exe /c "setx PATH &quot;%PATH%;[INSTALLFOLDER]&quot; /M"' />
    
    <CustomAction Id="RemoveFromPath" 
                  Directory="INSTALLFOLDER" 
                  Execute="deferred" 
                  Impersonate="no" 
                  Return="ignore"
                  ExeCommand='[SystemFolder]cmd.exe /c "for /f &quot;skip=2 tokens=1,2*&quot; %%A in (&apos;reg query HKLM\SYSTEM\CurrentControlSet\Control\Session Manager\Environment /v PATH&apos;) do setx PATH &quot;%%C&quot; /M | powershell -Command &quot;$env:PATH = $env:PATH -replace &apos;;[INSTALLFOLDER]&apos;,&apos;&apos; -replace &apos;[INSTALLFOLDER];&apos;,&apos;&apos;; [Environment]::SetEnvironmentVariable(&apos;PATH&apos;, $env:PATH, &apos;Machine&apos;)&quot;"' />
    
    <!-- Improved Scheduled Task Creation with Logging -->
    <CustomAction Id="CreateScheduledTask" 
                  Directory="INSTALLFOLDER" 
                  Execute="deferred" 
                  Impersonate="no" 
                  Return="check"
                  ExeCommand='[SystemFolder]cmd.exe /c "echo Creating scheduled task... &gt; &quot;[INSTALLFOLDER]install.log&quot; &amp;&amp; schtasks /create /tn &quot;PKr Scheduled Service&quot; /tr &quot;[INSTALLFOLDER]PKr-Service.exe&quot; /sc onlogon /ru SYSTEM /rl highest /f &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot; 2&gt;&amp;1 &amp;&amp; echo Task creation completed &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot;"' />
    
    <!-- Alternative Task Creation (if the first one fails) -->
    <CustomAction Id="CreateScheduledTaskAlt" 
                  Directory="INSTALLFOLDER" 
                  Execute="deferred" 
                  Impersonate="no" 
                  Return="ignore"
                  ExeCommand='[SystemFolder]cmd.exe /c "echo Trying alternative task creation... &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot; &amp;&amp; schtasks /create /tn &quot;PKr-Service&quot; /tr &quot;[INSTALLFOLDER]PKr-Service.exe&quot; /sc onstart /ru SYSTEM /f &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot; 2&gt;&amp;1"' />
    
    <!-- Task Verification -->
    <CustomAction Id="VerifyScheduledTask" 
                  Directory="INSTALLFOLDER" 
                  Execute="deferred" 
                  Impersonate="no" 
                  Return="ignore"
                  ExeCommand='[SystemFolder]cmd.exe /c "echo Verifying tasks... &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot; &amp;&amp; schtasks /query /tn &quot;PKr Scheduled Service&quot; &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot; 2&gt;&amp;1 &amp;&amp; schtasks /query /tn &quot;PKr-Service&quot; &gt;&gt; &quot;[INSTALLFOLDER]install.log&quot; 2&gt;&amp;1"' />
    
    <CustomAction Id="RemoveScheduledTask" 
                  Directory="INSTALLFOLDER" 
                  Execute="deferred" 
                  Impersonate="no" 
                  Return="ignore"
                  ExeCommand='[SystemFolder]cmd.exe /c "schtasks /delete /tn &quot;PKr Scheduled Service&quot; /f 2&gt;nul &amp;&amp; schtasks /delete /tn &quot;PKr-Service&quot; /f 2&gt;nul"' />
    
    <InstallExecuteSequence>
      <Custom Action="AddToPath" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="CreateScheduledTask" After="AddToPath" Condition="NOT Installed" />
      <Custom Action="CreateScheduledTaskAlt" After="CreateScheduledTask" Condition="NOT Installed" />
      <Custom Action="VerifyScheduledTask" After="CreateScheduledTaskAlt" Condition="NOT Installed" />
      <Custom Action="RemoveScheduledTask" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot;" />
      <Custom Action="RemoveFromPath" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>
    
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="PKrCliComponent" Guid="4e70eb55-fa63-41b1-9f5a-156ad9aa2b62">
        <CreateFolder />
      </Component>
      
      <Component Id="PKrServiceComponent" Guid="62f5e57c-79bb-4c35-8fda-c72614b6a998">
        <File Id="PKrServiceFile" Name="PKr-Service.exe" Source="PKr-Service.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <Feature Id="MainFeature" Title="PKr App Feature" Level="1">
      <ComponentRef Id="PKrCliComponent" />
      <ComponentRef Id="PKrServiceComponent" />
    </Feature>
  </Package>
</Wix>